NODE_ENV=test
PORT=3334
HOST=127.0.0.1
APP_PUBLIC_URL=http://localhost:3334
PRODUCT_DATABASE_PROVIDER=postgres
DATABASE_URL=postgres://postgres:controls@localhost:5432/control_s_api_hub_test
JWT_SECRET=controls_teste
TOKEN_HASH_PEPPER=controls_teste
